<form class="create-user-form">
  <div>
      <label>First Name</label>
      <input type="text" required="required" name="firstname" id="fname" value="" autofocus/>
  </div>
  <div>
    <label>Last Name</label>
    <input type="text" name="lastname" required="required" id="lname" value=""/>
  </div>
  <button type="submit" class="btn btn-primary" id="nextpage">Next</button>
</form>
